* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

    --left-col-width: 400px;
    --article-max-width: 300px; 
    --mobile-width: 500px;
}


header {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    min-width: 400px;
    background: white;
    opacity: 1;
    z-index: 100;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

h1 {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-size: 30px;
}

header h1 {
    display: inline-block;
    padding: 10px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

main {
    background-color: #ebebeb;
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

section {

    border: solid 1px black;
    
}

article { 
    max-width: var(--article-max-width);
    margin: 10px 10px;
    border: dotted 1px black;
    
}

.intro {
    max-width: var(--left-col-width);

}

article img {
    width: 100%;
}

.left {
  
    float: left;
    vertical-align: top;
    width: var(--left-col-width);
    position: fixed;
}

.right {
    float: right;
    vertical-align: top;
    margin-left: var(--left-col-width); 
}

.event {
    /* float: left; */
    position: relative;
    width: auto;
}
 
.event .content {
    background: whitesmoke;
    bottom: 0;
    height: 68px;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: all .5s ease; /*Add this line!*/
    width: 100%;
}
 
.event h3, .event h2 {
    height: 68px; /*So nothing funny shows below*/
    margin: 0;
    padding: 18px 85px 15px 20px;
}

 
.event .rollover {
    padding: 18px 20px;
    opacity: 0;
    transition: all .5s ease; /*Add this line!*/
}

.event:hover .content {
    background: whitesmoke;
    height: 100%;
}
 
.event:hover .rollover {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .left, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */  
      
      position: relative;    
    }
  }

  @media screen and (max-width: 700px) {
    article {
      max-width: 100%;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */      
    }


  }
  @media screen and (max-width: 700px) {
    .intro {
        max-width: 100%;
    }


  }
