* {
    box-sizing: border-box;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 0 0;
}



header {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background: white;
    opacity: 1;
    z-index: 999;
    display: flex;
}

header img {
    height: 100px;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

nav a {
    vertical-align: middle;
    line-height: 100px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}


main {
    margin-top: 100px;
}

@media screen and (max-width: 650px)
{
    header{
        height: auto;
        position: relative;
        display: block;
    }
    header img{
        text-align: center;
    }

    nav {
        position: relative;

    }

    nav a {
        display: block;
        width: 100%;
        line-height: normal;
        text-align: center;
        border: solid 1px black;
    }

    main { 
        margin-top: 0;
    }
}

article img {
    width: 100%;
    position: relative;
}

p {
    margin-block-end: 10px;
}

h1, h2 {
    margin-block-end: 10px;
}

/* */

.banner {
    width: 100%;
    position: relative;
    border: solid 1px;
    color: white;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.banner .text {
    margin: 10px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner .heading {
    font-size: 60px;
    font-weight: bold;
    margin: 30px 10px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner .heading.dark {
    color: rgb(99, 66, 129);
}

.banner .heading.top {
    bottom: unset;
}

@media screen and (max-width: 650px)
{
    .banner .heading {
        font-size: 30px;
    }

}

@media screen and (min-width: 1000px)
{
    .banner {
        width: 60%;
        display: inline-block;
    }
}

/* */
.full-banner {
    width: 100%;
    position: relative;
    border: solid 1px;
    color: white;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.full-banner .heading {
    font-size: 60px;
    font-weight: bold;
    margin: 30px 10px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* */

.intro {
    width: 100%;
    border: solid 1px;
    padding: 10px;
    display: flex;
}

.intro .text {
    padding: 10px;
    text-align: right;
}

.intro .image {
    max-width: 300px;
    align-content: stretch;
}

@media screen and (min-width: 1000px)
{
    .intro {
        width:39%;
        display: inline-block;
        height: 400px;
        vertical-align: top;
    }

    .intro .image {
        display: none;
    }
}

@media screen and (max-width: 650px)
{
    .intro .image {
        display: none;
    }
}

/* */

.half-section {
    width: 100%;
    border: solid 1px;
    padding: 10px;
    display: flex;
    margin: 10px;
}

.half-section .text {
    padding: 10px;
    
}

.half-section .text.right {
    text-align: right;
    
}



.half-section .text a {
    background-color: crimson;
    padding: 10px;
    color:white;
    text-decoration: none;
    display: inline-block;
    margin-block-start: 20px;
    border-radius: 10px;

}


.half-section .image {
    max-width: 300px;
    align-content: stretch;
}

@media screen and (max-width: 650px)
{
    .half-section {
        display: block;
    }
.half-section .image  {
    width: 100%;
    max-width: 100%;

    }

    .half-section .text {
        width: 100%;
        max-width: 100%;
    }
}





/* */

aside {
    padding: 15px 15px 15px 15px;
    background-color: rgb(131, 168, 231);
    color: aliceblue;
    text-align: center;
    margin: auto 15px;
}

@media screen and (min-width: 1000px)
{
    aside {
        width: 45%;
        
        float: left;
        vertical-align: top;
    }

    .half-section {
        width: 45%;
   
        float: left;
        
        vertical-align: top;
    }
}

/*  */
form {
    margin: 10px;
    
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 20px;
  }

  option {
      font-weight: bold;
      font-size: 20px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }

  /* Hide unstylable radio buttons */
  input[type=radio] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  label[for="single-occupancy"], label[for="double-occupancy"],
  label[for="half-board"], label[for="full-board"]{
      margin-bottom: 10px;
      display: inline-block;
      cursor: pointer;
      background-repeat: no-repeat;   
      
    background-color: bisque;
  }

  label[for="single-occupancy"], 
  label[for="double-occupancy"] {
    background-size: 25px 25px;
    background-position: 5px 5px;
    padding: 10px 10px 10px 36px;
}

label[for="half-board"] {
  height: 150px;
  background-size: 300px 140px;
  background-position: 5px 5px;
  padding-left: 300px;
}

label[for="full-board"]  {
  height: 150px;
  background-size: 425px 140px;
  background-position: 5px 5px;
  padding-left: 450px;
}

input[type="radio"]:checked + label[for="half-board"], 
input[type="radio"]:checked + label[for="full-board"] ,
  input[type="radio"]:checked + label[for="single-occupancy"], 
  input[type="radio"]:checked + label[for="double-occupancy"] {
    background-color: #4CAF50;
}


  label[for="single-occupancy"]{
    background-image: url(../images/icons/one-person.png);
    
}  

label[for="double-occupancy"]{
    background-image: url(../images/icons/two-people.png);
}

label[for="half-board"]{
    background-image: url(../images/icons/half-board.png);
    
}  

label[for="full-board"]{
    background-image: url(../images/icons/full-board.png);
}

form section {
    background-color: #f1f1f1;
    border: solid 1px black;
    padding: 10px;
}

@media screen and (min-width: 1000px)
{
    section.aside {
        width:30%;
        
        float: left;
        vertical-align: top;
    }

    form {
        width: 60%;
   
        float: left;
        
        vertical-align: top;
    }
}

/* */

footer p {
    line-height: 75px;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    clear: both;
}


